<div class="container">
  <form class="form-horizontal" role="form">
    <div class="row">
      <span></span>
      <div class="h1">Dates</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Arrival</label>
          <div class="col-sm-9">
              <date-selector></date-selector>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Leaving</label>
          <div class="col-sm-9">
              <date-selector></date-selector>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
       <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">No. of nights</label>
          <div class="col-sm-6">
              <select class="form-control"
            ng-model="main.selectNumberOfNights"
            ng-options="numberOfNight as numberOfNight.label for numberOfNight in main.numberOfNights track by numberOfNight.id">
            </select>
          </div>
        </div>
      </div>
       <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-6 control-label">Check available rooms</label>
          <div class="col-sm-6">
              <button class="btn btn-default" type="button">Check available rooms</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <form class="form-horizontal" role="form">
    <div class="row">
      <span></span>
      <div class="h1">Client Details</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Surname</label>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Phone Number</label>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="container">
  <form class="form-horizontal" role="form">
    <div class="row">
      <div class="h1">Select Accommodation</div>
      
     <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Single Bedroom
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <img src="images/single-bedroom-thumb.jpg" alt="">
          </div>
          <div class="col-md-6">
            Accommodation suitable for one person with free onsite parking, flat screen tv with DSTV, tea/coffee station and en-suite bathroom. Meals are available on request at an extra cost.
          </div>
        </div>
        
        <button class="btn btn-default">Book Now</button>
        
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Double Bedroom
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <img src="images/double-bedroom-thumb.jpg" alt="">
          </div>
          <div class="col-md-6">
            Suitable for up to two people. Consists of a double bed with en suite bathroom, air conditioning, an electric blanket, two bed side lamps, writing area, tea/coffee making facility, bar fridge and microwave. Meals are available on request at an extra cost.
          </div>
        </div>
        
        <button class="btn btn-default">Book Now</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Superior Queen Bedroom
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <img src="images/superior-queen-thumb.jpg" alt="">
          </div>
          <div class="col-md-6">
            Accommodates up to 2 people and consists of a queen size bed, air conditioning, an electric blanket, free on site parking, en suite bathroom, flat screen tv with DSTV, wardrobe, bar fridge, microwave, writing area and a coffee/tea making facility. Meals are available on request at an extra cost.
            
            <button class="btn btn-default">Book Now</button>
          </div>
        </div>
        <button class="btn btn-default">Book Now</button>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingFour">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Family Bedroom
        </a>
      </h4>
    </div>
    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
      <div class="panel-body">
        <div class="row">
          <div class="col-md-6">
            <img src="images/family-bedroom-thumb.jpg" alt="">
          </div>
          <div class="col-md-6">
            Accommodates up to 3 people, consists of a double and single bed, free onsite parking, flat screen tv with DSTV, wardrobe, bar fridge, microwave, mobile ironing board, writing area, tea/coffee making facility with en-suite bathroom. Meals are available on request at an extra cost.
          </div>
        </div>
        <button class="btn btn-default">Book Now</button>
      </div>
    </div>
  </div>
</div>
    </div>
  </form>
</div>
 <div class="container">
 <div class="row">
      <span></span>
      <div class="h1">Payment Information</div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="col-sm-3">Payment Type</label>
          <div class="col-sm-9">
            <select class="form-control"
            ng-model="main.selected"
            ng-options="paymentItem as paymentItem.label for paymentItem in main.paymentItems track by paymentItem.id">
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section ng-if="main.selected.label === 'Credit Card'">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">Credit Card Type</label>
            <div class="col-sm-9">
              <select class="form-control"
            ng-model="main.selectedCreditCard"
            ng-options="creditCardType as creditCardType.label for creditCardType in main.creditCardTypes track by creditCardType.id">
            </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">Card Number</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">Name on Card</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">CVC</label>
            <div class="col-sm-9">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="col-sm-3 control-label">Expiry Date</label>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
            <div class="col-sm-4">
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </section>

<div class="container">
<div class="row">
      <div class="col-md-10">
        <div class="form-group">
          <label class="col-sm-5 control-label">Terms & Conditions</label>
          <div class="col-sm-1">
          <input type="checkbox">
          </div>
          <div class="col-sm-6">
          <button class="btn btn-default" type="button">Complete Booking</button>
          </div>
      </div>
      </div>
    </div>
</div>


